@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish2-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --light-grayish2-cyan: hsl(189, 41%, 97%);
  --strong-cyan: hsl(172, 67%, 45%);
}

html {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* layout */
main,
header {
  max-width: 375px;
  margin: 0 auto;
}

header {
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

main {
  border-radius: 20px 20px 0 0;
  padding: 40px;
}

main > div {
  margin-bottom: 40px;
}

main > div:last-child {
  margin-bottom: 0;
}

main > div > label {
  display: block;
}

input {
  width: 100%;
  padding: 8px;
}

.percent-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.total-wrapper {
  padding: 20px;
}
.total-wrapper > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.total-wrapper > div span {
  display: block;
  font-size: 1.4rem;
}
.total-wrapper button {
  width: 100%;
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
  font-size: 2rem;
}


/* colors */
body {
  font-size: 1.6em;
  font-weight: 700;
  color: var(--dark-grayish-cyan);
}

html {
  background: var(--light-grayish-cyan);
}

main {
  background: white;
}
input {
  background: var(--light-grayish2-cyan);
  color: var(--very-dark-cyan);
  text-align: right;
}
button {
  background: var(--very-dark-cyan);
  color: white;
  padding: 6px 0;
  cursor: pointer;
}
input,
button {
  font: inherit;
  border: none;
  border-radius: 5px;
  font-size: 2.4rem;
}
.total-wrapper {
  background: var(--very-dark-cyan);
  border-radius: 20px;
}
.percent-wrapper button:last-child {
  background: var(--light-grayish2-cyan);
  color: var(--dark-grayish2-cyan);
}
#tip, #total {
  font-size: 3rem;
  color: var(--strong-cyan);
}
.total-wrapper div p:first-child {
  color: white;
}
.total-wrapper div span {
  color: var(--dark-grayish2-cyan);
}

/* states */
button:hover, button:focus {
  background: #a0ecdc;
  color: var(--very-dark-cyan);
}
input:focus:invalid {
  outline: 2px solid orangered;
  
}
input:focus:valid {
  outline: 2px solid green;
  
}
#ppl-label , #bill-label{
  position: relative;
}
.error {
  font-size: 1.2rem;
  color: orangered;
  position: absolute;
  right: 0px;
}

