:root {
  --White: hsl(0, 0%, 100%);
  --LightGrey: hsl(217, 12%, 63%);
  --MediumGrey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --VeryDarkBlue: hsl(216, 12%, 8%);
  --Orange: hsl(25, 97%, 53%);
}

html {
  box-sizing: border-box;
  font-family: 'Overpass', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
  background-color: var(--VeryDarkBlue);
  margin: 0 20px
  
}

main {
  max-width: 400px;
  padding: 30px;
  border-radius: 30px;
  background: linear-gradient(var(--DarkBlue), rgb(26, 26, 26));
}

p {
  font-size: 15px;
}

.rating {
  display: none;
}

.rating.active {
  display: block;
}

.thanks {
  display: none;
}

.thanks.active {
  display: block;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.star {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: hsl(213, 19%, 22%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings {
  display: flex;
  justify-content: space-between;
}

.ratings button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.submit {
  display: block;
  width: 100%;
  padding: 20px;
  margin: 30px 0 0 0;
  background-color: var(--Orange);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 30px;
}

p {
  color: var(--LightGrey);
}

.rating p {
  margin: 0 0 30px 0;
}
.ratings button {
  background-color: var(--DarkBlue);
  color: var(--LightGrey);
}
.ratings button, .submit {
  font-weight: 700;
}

.thanks {
  text-align: center;
}

.thanks img {
  margin-top: 20px;
  margin-bottom: 27px;
}

.thanks p:first-of-type {
  color: var(--Orange);
  background-color: var(--DarkBlue);
  width: max-content;
  padding: 7px 20px;
  margin: 0 auto;
  border-radius: 50px;
}

.ratings button:focus, .ratings button:hover {
  color: white;
}

.ratings button:focus {
  background-color: var(--LightGrey);
  outline: none;
}

.ratings button:hover{
  background-color: var(--Orange);
  outline: none;
}

.submit:hover {
  color: var(--Orange);
  background-color: var(--White);
}

@media screen and (max-width: 375px) {
  h1 {
    font-size: 1.5rem;
  }
  main {
    padding: 30px 20px 30px 20px
  }

  .ratings button {
    width: 40px;
    height: 40px;
  }
}