* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --PsoftRed: hsl(10, 79%, 65%);
  --Pcyan: hsl(186, 34%, 60%);
  --NdarkBrown: hsl(25, 47%, 15%);
  --NmediumBrown: hsl(28, 10%, 53%);
  --Ncream: hsl(27, 66%, 92%);
  --NpaleOrange: hsl(33, 100%, 98%);
  --PbodyColor: #f9ecdc;
}

body {
  margin: 0 auto;
  max-width: 540px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--PbodyColor);
}

header,
main > div:last-of-type {
  display: flex;
  justify-content: space-between;
}

header,
main {
  border-radius: 20px;
}

header {
  background-color: var(--PsoftRed);
  color: white;
  margin-bottom: 30px;
  padding: 30px;
}

main {
  background-color: white;
  padding: 35px 40px 50px 40px;
  color: var(--NmediumBrown);
}

h1 {
  margin: 0;
}

header div p:last-child {
  font-size: 2rem;
  font-weight: 700;
}

.brown {
  color: var(--NdarkBrown);
  font-weight: 700;
}

hr {
  border-top: 1px solid var(--PbodyColor);
  margin: 30px 0;
}

.days {
  height: 260px;
  display: flex;
  gap: 10px;
}

.days > .day{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.currentDay {
  background-color: var(--Pcyan);
}

.amount {
  background-color: var(--NdarkBrown);
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8rem;
  transform: scale(0) translateY(-10px);
  transition: all 0.3s;
}
.graph {
  background-color: var(--PsoftRed) ;
  border-radius: 5px;
  cursor: pointer;
}

.dayName {
  text-align: center;
}

.footer div:first-of-type .brown {
  font-size: 2rem;
}

.footer div:last-of-type .brown {
  text-align: right;
}

.footer {
  align-items: flex-end;
}


@media screen and (max-width: 500px) {
  .days > .day {
    flex: 1;
  }
  .days {
    justify-content: space-around;
    gap: 5px;
  }
  .day {
    max-width: 40px;
  }
  h1 {
    font-size: 1.4rem;
  }
  .amount {
    font-size: 0.5rem;
  }
}