@use "vars" as *;

/* ====  colors ====*/
body {
  background-color: lighten($gray-blue-100, 30%);
}

header {
  color: $white;

  nav {
    color: $gray-blue-200;
    background-color: $white;
  
    li:last-child a {
      background-color: $yellow;
      color: $gray-blue-400;
    }
  }
}

main {
  background-color: $white;

  & > section h3 {
    color: $gray-blue-100;
  }

  .client-wrapper {
    color: $gray-blue-300;
    
    div {
      strong {
        color: $gray-blue-400;
      }
      p {
        color: $gray-blue-100;
      }
    }    
  }

}
footer {
  background-color: $footer;
  color: $dark-cyan-100;
  
  h4 {
    color: $dark-cyan-200;
  }
  a:hover {
    color: $white;
  }
}


/* section paragraphs gray text colors */
.decor-img + section {
  p {
    color: $gray-blue-200;
  }
}

.bg-cherry {
  color: $dark-cyan-200;
}

.bg-orange {
  color: $dark-blue;
}


/* link underline colors */
a {
  color: inherit;

  &.yellow-underline {
    box-shadow: 0 12px 0 0 scale-color($yellow, $lightness: 66%);

    &:hover, &:focus { box-shadow: 0 12px 0 0 $yellow;}
  }

  &.red-underline {
    box-shadow: 0 12px 0 0 scale-color($soft-red, $lightness: 66%);  

    &:hover, &focus { box-shadow: 0 12px 0 0 $soft-red;}
  }

}

/* change nav colors to fit the desktop design colors */
@media screen and (min-width: 1200px) {
  header nav {
    background-color: transparent;

    li {
      &:last-child a{
        background-color: white;
      }
      a {
        color: white;
        &:hover {
          background-color: #75d1ff;
          color: white;
        }
      }
    }
  }
  
}