footer {
  h4 {
    padding: 50px 0 40px;
  }
  div {
    display: flex;
    padding-bottom: 80px;

    &:first-of-type {
      justify-content: space-around;  
    }

    &:last-of-type {
      justify-content: center;
      gap: 20px;
      
      svg {
        cursor: pointer;
        &:hover path {
          fill: white;
        }
      }
    }

  }

  /* desktop version */
  @media screen and (min-width: 1200px) { 
    div:first-of-type {
      justify-content: center;
      gap: 40px;
    }
  }
}