header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 520px;
  background: 
    40px 40px / auto no-repeat url("../../images/logo.svg"),
    bottom center / cover no-repeat url("../../images/mobile/image-header.jpg");

  #burger {
    position: absolute;
    top: 30px;
    right: 18px;
    padding: 3px;
    cursor: pointer;
    user-select: none;
  }
  #burger.active {
    opacity: 0.5;
  }

  section {
    margin-top: 105px;

    h1 {
      margin-bottom: 50px;
    }
  }
  
  nav {
    display: none;

    ul {
      list-style: none;
      padding: 0;
    }
  }
}

/* navigation ONLY FOR MOBILE */
@media screen and (max-width: 1199px) {
  header nav.active {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    ul {
      padding: 24px 0;
      text-align: center;
      position: relative;

      .triangle {
        position: absolute;
        width: 25px;
        height: 30px;
        top: -29px;
        right: 0;
        clip-path: polygon(100% 0%, 0% 100%, 101% 100%);
        background-color: white;
      }
    }

    

    li:last-child a {
      width: 50%;
      margin: 0 auto 20px;
      border-radius: 50px;
    }

    a {
      display: block;
      line-height: 3.2;
      margin-bottom: 5px;
    }
  }
}

/* HEADER AND NAVIGATION FOR DESKTOP */
@media screen and (min-width: 1200px) {
  header {
    height: 90vh;
    background-image: url("../../images/logo.svg"), url("../../images/desktop/image-header.jpg");

    nav {
      margin: 50px 60px 0 0;
      display: block;
      visibility: visible;

      ul {
        display: flex;
        justify-content: end;
        a {
          padding: 20px 30px;
          border-radius: 50px;
        }
      }
    }
    #burger {
      display: none;
    }
    #arrow {
      margin-top: 45px;
    }

    h1 {
      margin-top: 25px;
    }
  }
}
