/* typography */
body {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  font-size: 18px;
}

h1,h2,h3,a {
  font-family: 'Fraunces', serif;
  word-wrap: break-word;
}
h1,a {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 8px;
  font-weight: 900;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}