/* typography */
body {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  font-size: 18px;
}

h1,h2,h3,a,strong {
  font-family: 'Fraunces', serif;
  word-wrap: break-word;
  font-weight: 900;
}
h1,a {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 8px;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1rem;
}
footer > h4 {
  font-size: 2.2rem;
  font-weight: 800;
}


a {
  font-size: 0.9rem;
  text-decoration: none;
}

main > section  {
  h3 {
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  strong + p {
    font-size: 0.85rem;
  }
}

footer {
  a {
    font-family: 'Barlow', sans-serif;
    text-transform: none;
    font-size: 1rem;
  }
}