html {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --almostWhite: hsl(0, 0%, 98%);
  --mediumGray: hsl(0, 0%, 41%);
  --almostBlack: hsl(0, 0%, 8%);
}

/* MOBILE FIRST DESIGN*/

body {
  margin: 0 auto;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin-top: 50px;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 65%;
  opacity: 0;
  height: 100vh;
  transform: scale(0);
  transform-origin: top right;
  transition: all .5s; 
  z-index: 10;
}

.navigation.active {
  opacity: 1;
  transform: scale(1);
}
.navigation > li {
  cursor: pointer;
}


header {
  padding: 25px 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
    
}
main {
  display: flex;
  flex-direction: column;
}

.left {
  order: 1;
}
.right {
  order: 0;
}

.darkenPage {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 5;
  opacity: 0;
  transition: all 0.5s;
  visibility: hidden;
  overflow: hidden;
}
.darkenPage.active {
  opacity: 1;
  visibility: visible;
}

.left {
  text-align: center;
  font-size: 0.94rem;
}

.left p {
  line-height: 1.6;
  color: var(--mediumGray);
  margin: 10px 0 26px 0;
}

.left button {
  border: none;
  padding: 18px 30px;
  color: white; 
  background-color: black;
  border-radius: 15px;
  font-size: inherit;
  font-weight: 700;
  margin-bottom: 50px;
}

.clients {
  display: flex;
  justify-content: center;
}

.clients > * {
  transform: scale(0.75);
  overflow: visible;
}

.right img {
  margin: 0 auto;
}

.navigation li {

}
/* Style the inside of navigation list (MOBILE)*/
/*DROPDOWN tutorial: https://codepen.io/remilaudanski/pen/gbBGyN */ 
.navigation {
  padding: 80px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--mediumGray);
  font-size: 0.9rem;
}

span {
  cursor : pointer;
  display: block;
}


.slide {
  width:100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  list-style: none;
  margin-top: 0;
  padding: 0;
  visibility: hidden;
}

.slide li {
  padding : 8px 8px 8px 25px;
}
.slide li a {
  text-decoration: none;
}

.slide li svg {
  margin-right: 10px;
  size: 20px;
}

.dropdown {
  position: absolute; 
  opacity: 0; 
  height: 0px;
}    

.dropdown:checked + .slide {
  max-height: 300px;
  margin-top: 20px;
  visibility: visible;
} 

.navigation label img {
  display: inline-block;
  margin-left: 15px;
}

.navigation > li:nth-last-child(-n + 2) {
  text-align: center;
  padding: 15px 0;
}
.navigation > li:last-child {
  border: 2px solid var(--mediumGray);
  border-radius: 15px;
}

/* END OF Style the inside of navigation list (MOBILE)*/



/* hamburger icon (requires a bit of JS) MOBILE*/
.menu-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  z-index: 50;
  right: 15px;
}

.menu-btn__burger {
  width: 32px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 32px;
  height: 2px;
  background-color: #000;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-7px);
}

.menu-btn__burger::after {
  transform: translateY(7px);
}

/* ANIMATION of hamburger */
.menu-btn.open .menu-btn__burger {
  transform: translateX(50px);
  background-color: transparent;
  box-shadow: none;
}

.menu-btn.open .menu-btn__burger::after {
  transform: rotate(45deg) translate(-35px, 35px);
}

.menu-btn.open .menu-btn__burger::before {
  transform: rotate(-45deg) translate(-35px, -35px);
}

/* END OF HAMBURGER STYLING  (MOBILE)*/

/* fix the annoying bug where hamburger menu triggers freaking scrollbar to show up hecking heck omg that was painful */
/* just show the damned scrollbar by default in order to stop the flickering scrollbar*/
@media screen and (min-width: 376px) {
  body {
    overflow-y: scroll;
  }
}


/*DESKTOP DESIGN*/
@media screen and (min-width: 1200px) {
  main {
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
    margin-left: 13%;
    margin-top: 50px;
  }

  .darkenPage.active {
    visibility: hidden;
    opacity: 0;
  }
  .left {
    order: 0;
    text-align: left;
    flex: 1;
    align-self: flex-end;
  }

  .left p {
    padding-right: 200px;
    margin-bottom: 56px;
  }
  .left button {
    margin-bottom: 100px;

  }

  h1 {
    font-size: 4rem;
    margin-top: revert;
    padding-right: 140px;
  }
  .right {
    flex: 1;
    order: 1;
    align-self: flex-end;
  }
  .right img {
    height: 650px;
    object-fit: cover;
    margin: 0;
  }

  header {
    justify-content: flex-start;
    padding-left: 40px;
  }
  .navigation {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    height: auto;
    flex-direction: row;
    margin: 0 0 0 80px;
    padding: 0;
    position: static;
    flex: 1;
    align-items: center;
  }

  .navigation > li {
    margin-right: 15px;
  }
  .navigation > li:nth-child(5) {
    margin-left: auto;
  }

  .navigation > li:last-child {
    padding: 10px 20px;
  }


  .navigation > li img {
    margin-left: 5px;
  }


  .menu-btn {
    display: none;
  }
  
  .slide {
    position: absolute;
    margin-left: -65px;
    width: auto;
    box-shadow: 1px 8px 100px -22px rgba(66, 68, 90, 1);
    background-color: white;
    border-radius: 10px;
    padding: 20px 20px 20px 0;
  }

  .navigation > li:nth-child(2) .slide {
    margin-left: 20px;
  }

  .clients {
    justify-content: space-between;
    padding-right: 200px;
  }

  .clients svg {
    transform: scale(1);
  }

  .navigation > li:hover {
    color: black;
    border-color: black;
  }

  .left button:hover {
    background-color: white;
    color: black;
    outline: 2px solid black;
    cursor: pointer;
  }
}
/*END OF DESKTOP DESIGN*/
