* {
  box-sizing: border-box;
}
h1,h2,h3, p, ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(100, 100, 100);
  margin: 0 auto;
  max-width: 375px;
  color: white;
  font-size: 18px;
  // font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

img {
  display: block;
  width: 100%;
}

header {
  height: 538px;
  position: relative;
  img {
    position: absolute;
    max-width: 375px;
    z-index: -1;
  }

  nav {
    height: 50px;
  }

  ul {
    list-style: none;
    padding: 0;
    visibility: hidden;
  }

  a {
    padding: 20px 0;
  }
  
  #burger {
    position: absolute;
    right: 20px;
    top: 35px;
  }
  .logo {
    position: absolute;
    left: 20px;
    top: 35px;
  }

  #arrow {
    display: block;
    margin: 0 auto;
  }

  h1 {
    text-align: center;
    margin: 50px 0;
    font-size: 4rem;
  }
}
