/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

ul {
  margin: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ====  colors ====*/
body {
  background-color: #f7f7f8;
}

main {
  background-color: white;
}
main > section {
  /* testimonails colors */
  color: #5a636c;
}
main > section h3 {
  color: #a7abae;
}
main > section .client-wrapper div strong {
  color: #23303e;
}
main > section .client-wrapper div p {
  color: #a7abae;
}

footer {
  background-color: #8cd9c9;
  color: #458c7e;
}
footer h4 {
  color: #25564b;
}
footer a:hover {
  color: white;
}

header {
  color: white;
}
header nav {
  color: #818498;
  background-color: white;
}
header nav li:last-child a {
  background-color: #fad400;
  color: #23303e;
}

/* section paragraphs gray text colors */
.decor-img + section p {
  color: #818498;
}

.bg-cherry {
  color: #25564b;
}

.bg-orange {
  color: #19536b;
}

/* link underline colors */
a {
  color: inherit;
}
a.yellow-underline {
  box-shadow: 0 12px 0 0 #fff2a7;
}
a.yellow-underline:hover, a.yellow-underline:focus {
  box-shadow: 0 12px 0 0 #fad400;
}
a.red-underline {
  box-shadow: 0 12px 0 0 #ffd1cb;
}
a.red-underline:hover, a.red-underline:focus {
  box-shadow: 0 12px 0 0 #fe7867;
}

/* typography */
body {
  font-family: "Barlow", sans-serif;
  text-align: center;
  font-size: 18px;
}

h1, h2, h3, a, strong {
  font-family: "Fraunces", serif;
  word-wrap: break-word;
  font-weight: 900;
}

header a {
  font-family: "Barlow", sans-serif;
  text-transform: none;
  font-size: 1.1rem;
  font-weight: 600;
}
header li:last-child a {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1rem;
}

h1, a {
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: 8px;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1rem;
}

footer > h4 {
  font-size: 2.2rem;
  font-weight: 800;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
}

main > section h3 {
  letter-spacing: 3px;
  text-transform: uppercase;
}
main > section strong + p {
  font-size: 0.85rem;
}

footer a {
  font-family: "Barlow", sans-serif;
  text-transform: none;
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 2.5rem;
  }
}
/* actual website styles */
body {
  max-width: 375px;
  margin: 0 auto;
  overflow-x: hidden;
}

header {
  position: relative;
  height: 520px;
  background-image: url("../../images/logo.svg"), url("../../images/mobile/image-header.jpg");
  background-size: auto, cover;
  background-repeat: no-repeat;
  background-position: 5% 5%, bottom center;
  display: flex;
  flex-direction: column;
}
header #burger {
  position: absolute;
  top: 30px;
  right: 18px;
  padding: 3px;
  cursor: pointer;
  user-select: none;
}
header #burger.active {
  opacity: 0.5;
}
header nav {
  display: none;
}
header nav.active {
  display: block;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header nav.active ul {
  list-style: none;
  padding: 24px 0;
  text-align: center;
  position: relative;
}
header nav.active ul .triangle {
  position: absolute;
  width: 25px;
  height: 30px;
  top: -29px;
  right: 0;
  background-color: white;
  clip-path: polygon(100% 0%, 0% 100%, 101% 100%);
}
header nav.active li a {
  display: block;
  line-height: 3.2;
  margin-bottom: 5px;
}
header nav.active li:last-child a {
  width: 50%;
  margin: 0 auto 20px;
  border-radius: 50px;
}
header section {
  margin-top: 105px;
}
header section h1 {
  margin-bottom: 50px;
}

main {
  /* testimonials layout*/
}
main section {
  padding: 20px;
}
main .decor-img + section h2 {
  margin: 40px 0 23px;
}
main .decor-img + section a {
  display: block;
  height: 10px;
  width: 130px;
  margin: 30px auto 40px;
  border-radius: 10px;
}
main .bg-orange, main .bg-cherry {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 600px;
}
main .bg-orange h2, main .bg-cherry h2 {
  padding-top: 360px;
  margin-bottom: 30px;
}
main .bg-cherry {
  background-image: url(../../images/mobile/image-graphic-design.jpg);
}
main .bg-orange {
  background-image: url(../../images/mobile/image-photography.jpg);
}
main .desktop-grid-2x3 .decor-img {
  height: 315px;
}
main .desktop-grid-2x3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main > section h3 {
  margin: 40px 0 58px;
}
main > section .client-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main > section .client-wrapper img {
  margin: 0 auto 40px;
  border-radius: 50%;
  height: 80px;
}
main > section .client-wrapper div {
  margin-top: 30px;
}
main > section .client-wrapper:last-of-type {
  margin-bottom: 64px;
}
main > .decor-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer > h4 {
  padding: 50px 0 40px;
}
footer div {
  padding-bottom: 80px;
}
footer .logo {
  opacity: 0.2;
}
footer div:first-of-type {
  display: flex;
  justify-content: space-around;
}
footer div:last-of-type {
  display: flex;
  justify-content: center;
  gap: 20px;
}
footer div:last-of-type svg {
  cursor: pointer;
}
footer div:last-of-type svg:hover path {
  fill: white;
}

@media screen and (min-width: 1200px) {
  body {
    max-width: 1440px;
  }

  header {
    height: 90vh;
    background-image: url("../../images/logo.svg"), url("../../images/desktop/image-header.jpg");
  }

  main {
    /* client testimonials desktop layout */
  }
  main .desktop-grid-2x3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  main .desktop-grid-2x3 .decor-img {
    height: auto;
  }
  main .desktop-grid-2x3 .decor-img + section {
    place-self: center;
    padding: 0 138px 0 128px;
    text-align: left;
  }
  main .desktop-grid-2x3 .decor-img + section a {
    display: inline-block;
    text-align: center;
    margin: 40px 0 0 0;
  }
  main .desktop-grid-2x3 .decor-img:nth-of-type(1) + section {
    order: -1;
  }
  main .desktop-grid-2x3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main .bg-cherry {
    background-image: url(../../images/desktop/image-graphic-design.jpg);
  }
  main .bg-orange {
    background-image: url(../../images/desktop/image-photography.jpg);
  }
  main > section {
    margin: 100px;
  }
  main > section .client-wrapper {
    flex-direction: row;
  }
  main > section .client-wrapper article {
    flex: 1;
  }
  main > section .client-wrapper article > div {
    margin-top: 100px;
  }
  main > section .client-wrapper > article:nth-child(2) {
    margin: 0 20px;
  }
  main > .decor-img {
    display: flex;
  }

  footer div:first-of-type {
    justify-content: center;
    gap: 40px;
  }
}

/*# sourceMappingURL=main.css.map */
